/*------------------------------------------------------------------
Bootstrap Admin Template by EGrappler.com
------------------------------------------------------------------*/



/*------------------------------------------------------------------
[1. Global]
*/

body {
	background: #f9f6f1;
	font: 13px/1.7em 'Open Sans';
}
    
p { 
	font: 13px/1.7em 'Open Sans'; 	
}
    
input,
button,
select,
textarea {
  font-family: 'Open Sans';
}

.dropdown .dropdown-menu {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.btn-icon-only {
	padding-right: 3px;
	padding-left: 3px;
}

.table td {
	vertical-align: middle;
}

.table-bordered th {
	background: #E9E9E9;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
	background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	
	font-size: 10px;
	color: #444;
	text-transform: uppercase;
}




.logo{
	margin-top:20px;
	margin-bottom: 0;
	text-align: center;
}


/*------------------------------------------------------------------
[2. Navbar / .navbar]
*/

.navbar .container {
	position: relative;
}

.navbar-inner {
	padding: 7px 0;
	
	background: #428bca!important; /* f9989f color barra arriba */
	
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.navbar-fixed-top {
	position: static;
}

.navbar .nav a {
	font-size: 11px;
}
.navbar .nav>li>a { color:#fff !important;}
.navbar .brand {
	font-weight: 600;
	position: relative;
	top: 2px;
}

.navbar .search-query {
	background-color: #444;
	width: 150px;
	font-size: 11px;
	font-weight: bold;
}

.navbar .search-query::-webkit-input-placeholder {
    color: #666;
}

.navbar .search-query:-moz-placeholder {
    color: #666;
}

.navbar-search .search-query { background:#008866; border:0; color:#fff; line-height:normal;}


/*------------------------------------------------------------------
[3. Subnavbar / .subnavbar]
*/

.subnavbar {
    	margin-bottom: 2.5em;
    }
    
.subnavbar-inner {
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #d6d6d6;
}

.subnavbar .container > ul {
	display: inline-block;
	
	height: 80px;
	padding: 0;
	margin: 0;
	
}

.subnavbar .container > ul > li {
	float: left;
	
	min-width: 90px;
	height: 60px;
	padding: 0;
	margin: 0;
	
	text-align: center;
	list-style: none;
	
	border-left: 1px solid #d9d9d9;
	
	
}

.subnavbar .container > ul > li > a {
	display: block;
	
	height: 100%;
	padding: 0 15px;
	
	font-size: 12px;
	font-weight: bold;
	color: #b2afaa;
}

.subnavbar .container > ul > li > a:hover {
	color: #888;
	text-decoration: none;
}

.subnavbar .container > ul > li > a > i {
	display: inline-block;
	
	width: 24px;
	height: 24px;
	margin-top: 11px;
	margin-bottom: -3px;
	font-size: 20px;
}

.subnavbar .container > ul > li > a > span {
	display: block;
	
}


.subnavbar .container > ul > li.active > a {
	
	border-bottom:3px solid #428bca;
	color: #383838;
}
    

.subnavbar .dropdown .dropdown-menu a {
	font-size: 12px;
}

    
.subnavbar .dropdown .dropdown-menu {
    	text-align: left;
    	
		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
    }
    
    
    
.subnavbar .dropdown-menu::before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #CCC;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 9px;
}

.subnavbar .dropdown-menu::after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	position: absolute;
	top: -6px;
	left: 10px;
}


.subnavbar .caret {
	margin-top: 4px;
	
	border-top-color: white;
	border-bottom-color: white;
}

.subnavbar .dropdown.open .caret {
	display: none;
}





/*------------------------------------------------------------------
[4. Main / .main]
*/

.main {
	padding-bottom: 2em;
	
	border-bottom: 1px solid #357ebd;
}



/*------------------------------------------------------------------
[5. Extra / .extra]
*/

.extra {

	border-top: 1px solid #585858;
	border-bottom: 1px solid #000;

}

.extra-inner {
	padding: 20px 0;
	
	font-size: 11px;
	color: #BBB;
	
	background: #1A1A1A;
}

.extra a {
	color: #666;
}

.extra h4 {
	margin-bottom: 1em;
	
	font-weight: 400;
}

.extra ul {
	padding: 0;
	margin: 0;
}

.extra li {
	margin-bottom: .6em;
	
	list-style: none;
}




/*------------------------------------------------------------------
[6. Footer/ .footer]
*/

.footer {
	text-align: center;
	margin-top: 0;
	/*border-top: 1px solid #292929;*/
}

.footer-inner {

	padding: 15px 0;
	
	font-size: 12px;
	background: #428bca;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.footer a {
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-weight: bold;
}

.footer a:hover {
	color: #FFF;
	text-decoration: underline;
}


/*------------------------------------------------------------------
[6. Widget / .widget]
*/

.widget {
	
	position: relative;
	clear: both;
	
	width: auto;
	
	margin-bottom: 2em;
		
	overflow: hidden;
}
	
.widget-header {
	
	position: relative;
	
	height: 40px;
	line-height: 40px;
	
	background: #f9f6f1;
	background:-moz-linear-gradient(top, #f9f6f1 0%, #f2efea 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f6f1), color-stop(100%,#f2efea)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* IE10+ */
	background:linear-gradient(top, #f9f6f1 0%,#f2efea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f1', endColorstr='#f2efea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6f1', endColorstr='#f2efea')";
	
	
	border: 1px solid #d6d6d6;
	
	
	-webkit-background-clip: padding-box;
}	
	
	.widget-header h3 {
		
		position: relative;
		top: 2px;
		left: 10px;
		
		display: inline-block;
		margin-right: 3em;
		
		font-size: 14px;
		font-weight: 800;
		color: #525252;
		line-height: 18px;
		
		text-shadow: 1px 1px 2px rgba(255,255,255,.5);
	}
	
		.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
			
			display: inline-block;
			margin-left: 13px;
			margin-right: -2px;
			
			font-size: 16px;
			color: #555;
			vertical-align: middle;
			
			
			
		}




.widget-content {
	padding: 20px 15px 15px;
	
	background: #FFF;
	
	
	border: 1px solid #D5D5D5;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.widget-header+.widget-content {
	border-top: none;
	
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.widget-nopad .widget-content {
	padding: 0;
}

/* Widget Content Clearfix */	
.widget-content:before,
.widget-content:after {
    content:"";
    display:table;
}

.widget-content:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.widget-content {
    zoom:1;
}

/* Widget Table */

.widget-table .widget-content {
	padding: 0;
}

.widget-table .table {
	margin-bottom: 0;
	
	border: none;
}

.widget-table .table tr td:first-child {
	border-left: none;
}

.widget-table .table tr th:first-child {
	border-left: none;
}


/* Widget Plain */

.widget-plain {
	
	background: transparent;
	
	border: none;
}

.widget-plain .widget-content {
	padding: 0;
	
	background: transparent;
	
	border: none;
}


/* Widget Box */

.widget-box {	
	
}

.widget-box .widget-content {	
	background: #E3E3E3;	
	background: #FFF;
}




/*------------------------------------------------------------------
[7. Error / .error-container]
*/

.error-container {
	margin-top: 4em;
	margin-bottom: 4em;
	text-align: center;
}

.error-container h1 {
	margin-bottom: .5em;
	
	font-size: 120px;
	line-height: 1em;
}

.error-container h2 {
	margin-bottom: .75em;
	font-size: 28px;
}

.error-container .error-details {
	margin-bottom: 1.5em;
	
	font-size: 16px;
}

.error-container .error-actions a {
	margin: 0 .5em;
}



/* Message layout */


ul.messages_layout {
	position: relative;
	margin: 0;
	padding: 0
}
ul.messages_layout li {
	float: left;
	list-style: none;
	position: relative
}
ul.messages_layout li.left {
	padding-left: 75px
}
ul.messages_layout li.right {
	padding-right: 75px
}
ul.messages_layout li.right .avatar {
	right: 0;
	left: auto
}
ul.messages_layout li.right .message_wrap .arrow {
	right: -12px;
	left: auto;
	background-position: 0 -213px;
	height: 15px;
	width: 12px
}
ul.messages_layout li.by_myself .message_wrap {
	border: 1px solid #b3cdf8
}
ul.messages_layout li.by_myself .message_wrap .info a.name {
	color: #4a8cf7
}
ul.messages_layout li a.avatar {
	position: absolute;
	left: 0;
	top: 0
}
ul.messages_layout li a.avatar img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}
ul.messages_layout li .message_wrap {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	border: 1px solid #e9e9e9;
	padding: 10px;
	border: 1px solid #cbcbcb;
	margin-bottom: 20px;
	float: left;
	background: #fefefe;
	-webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 0px;
	-moz-box-shadow: rgba(0,0,0,0.1) 0 1px 0px;
	box-shadow: rgba(0,0,0,0.1) 0 1px 0px
}
ul.messages_layout li .message_wrap .arrow {
	background-position: 0 -228px;
	height: 15px;
	width: 12px;
	height: 15px;
	width: 12px;
	position: absolute;
	left: -12px;
	top: 13px
}
ul.messages_layout li .message_wrap .info {
	float: left;
	width: 100%;
	border-bottom: 1px solid #fff;
	line-height: 23px
}
ul.messages_layout li .message_wrap .info .name {
	float: left;
	font-weight: bold;
	color: #483734
}
ul.messages_layout li .message_wrap .info .time {
	float: left;
	font-size: 11px;
	margin-left: 6px
}
ul.messages_layout li .message_wrap .text {
	float: left;
	width: 100%;
	border-top: 1px solid #cfcfcf;
	padding-top: 5px
}

ul.messages_layout .dropdown-menu  li{ width:100%; font-size:11px;}


/* Full Calendar */

.fc {
	direction: ltr;
	text-align: left;
	position: relative
}
.fc table {
	border-collapse: collapse;
	border-spacing: 0
}
html .fc, .fc table {
	font-size: 1em
}
.fc td, .fc th {
	padding: 0;
	vertical-align: top
}
.fc-header td {
	white-space: nowrap;
	background: none
}
.fc-header-left {
	width: 100%;
	text-align: left;
	position: absolute;
	left: 0;
	top: 6px
}
.fc-header-left .fc-button {
	margin: 0;
	position: relative
}
.fc-header-left .fc-button-prev, .fc-header-left .fc-button-next {
	float: left;
	border: none;
	padding: 14px 10px;
	opacity: 0.5
}
.fc-header-left .fc-button-prev .fc-button-inner, .fc-header-left .fc-button-next .fc-button-inner {
	border: none
}
.fc-header-left .fc-button-prev .fc-button-inner .fc-button-content, .fc-header-left .fc-button-next .fc-button-inner .fc-button-content {
	display: none
}
.fc-header-left .fc-button-prev.fc-state-hover, .fc-header-left .fc-button-next.fc-state-hover {
	opacity: 1
}
.fc-header-left .fc-button-prev.fc-state-down, .fc-header-left .fc-button-next.fc-state-down {
	background: none !important;
	margin-top: -1px
}
.fc-header-left .fc-button-prev .fc-button-inner {
	background-position: 0 -351px;
	height: 16px;
	width: 11px
}
.fc-header-left .fc-button-next {
	float: right
}
.fc-header-left .fc-button-next .fc-button-inner {
	background-position: 0 -367px;
	height: 16px;
	width: 11px
}
.fc-header-center {
	text-align: center
}
.fc-header-right {
	text-align: right;
	position: absolute;
	top: -34px;
	right: 10px
}
.fc-header-title {
	display: inline-block;
	vertical-align: top
}
.fc-header-title h2 {
	margin-top: 0;
	white-space: nowrap;
	font-size: 1.1rem;
	color: #6C737F;
	line-height: 55px;
}
.fc .fc-header-space {
	padding-left: 10px
}
.fc-header .fc-button {
	margin-bottom: 1em;
	vertical-align: top
}
.fc-header .fc-button {
	margin-right: -1px
}
.fc-header .fc-corner-right {
	margin-right: 1px
}
.fc-header .ui-corner-right {
	margin-right: 0
}
.fc-header .fc-state-hover, .fc-header .ui-state-hover {
	z-index: 2
}
.fc-header .fc-state-down {
	z-index: 3
}
.fc-header .fc-state-active, .fc-header .ui-state-active {
	z-index: 4
}
.fc-content {
	clear: both;
	background: #f9f9f9
}
.fc-view {
	width: 100%;
	overflow: hidden
}
.fc-view thead {
	background:#e9ecf1;
	line-height: 35px
}
.fc-widget-header, .fc-widget-content {
	border: 1px solid #ccc
}
.fc-state-highlight {
	background: #F4F3E6
}
.fc-cell-overlay {
	background: #9cf;
	opacity: .2;
	filter: alpha(opacity=20)
}
.fc-button {
	position: relative;
	display: inline-block;
	cursor: pointer
}
.fc-button-today{margin-top: 8px !important;}
.fc-state-default {
	border-style: solid;
	border-width: 1px 0
}
.fc-button-inner {
	position: relative;
	float: left;
	overflow: hidden
}
.fc-state-default .fc-button-inner {
	border-style: solid;
	border-width: 0 1px
}
.fc-button-content {
	position: relative;
	float: left;
	height: 1.9em;
	line-height: 1.9em;
	padding: 0 .6em;
	white-space: nowrap
}
.fc-button-content .fc-icon-wrap {
	position: relative;
	float: left;
	top: 50%
}
.fc-button-content .ui-icon {
	position: relative;
	float: left;
	margin-top: -50%;
*margin-top:0;
*top:-50%
}
.fc-state-default .fc-button-effect {
	position: absolute;
	top: 50%;
	left: 0
}
.fc-state-default .fc-button-effect span {
	position: absolute;
	top: -100px;
	left: 0;
	width: 500px;
	height: 100px;
	border-width: 100px 0 0 1px;
	border-style: solid;
	border-color: #fff;
	background: #fff;
	opacity: .09;
	filter: alpha(opacity=9)
}
.fc-state-default, .fc-state-default .fc-button-inner {
	border-style: solid;
	border-color: #ccc #bbb #aaa;
	color: #000
}
.fc-state-hover, .fc-state-hover .fc-button-inner {
	border-color: #999
}
.fc-state-down {
	border-color: #555;
	background: #777
}
.fc-state-active, .fc-state-active .fc-button-inner {
	border-color: #555;
	background: #777;
	color: #fff
}
.fc-state-disabled, .fc-state-disabled .fc-button-inner {
	color: #999;
	border-color: #ddd
}
.fc-state-disabled {
	cursor: default
}
.fc-state-disabled .fc-button-effect {
	display: none
}
.fc-event {
	border-style: solid;
	border-width: 0;
	font-size: .85em;
	cursor: default
}
a.fc-event, .fc-event-draggable {
	cursor: pointer
}
a.fc-event {
	text-decoration: none
}
.fc-rtl .fc-event {
	text-align: right
}
.fc-event-skin {
	border-color: #3f85f5;
	background-color: #5e96ea;
	color: #fff
}

.fc-event-inner {
	position: relative;
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 0;
	overflow: hidden
}
.fc-event-time, .fc-event-title {
	padding: 0 1px
}
.fc .ui-resizable-handle {
	display: block;
	position: absolute;
	z-index: 99999;
	overflow: hidden;
	font-size: 300%;
	line-height: 50%
}
.fc-event-hori {
	border-width: 1px 0;
	margin-bottom: 1px
}
.fc-event-hori .ui-resizable-e {
	top: 0 !important;
	right: -3px !important;
	width: 7px !important;
	height: 100% !important;
	cursor: e-resize
}
.fc-event-hori .ui-resizable-w {
	top: 0 !important;
	left: -3px !important;
	width: 7px !important;
	height: 100% !important;
	cursor: w-resize
}
.fc-event-hori .ui-resizable-handle {
	_padding-bottom: 14px
}
.fc-corner-left {
	margin-left: 1px
}
.fc-corner-left .fc-button-inner, .fc-corner-left .fc-event-inner {
	margin-left: -1px
}
.fc-corner-right {
	margin-right: 1px
}
.fc-corner-right .fc-button-inner, .fc-corner-right .fc-event-inner {
	margin-right: -1px
}
.fc-corner-top {
	margin-top: 1px
}
.fc-corner-top .fc-event-inner {
	margin-top: -1px
}
.fc-corner-bottom {
	margin-bottom: 1px
}
.fc-corner-bottom .fc-event-inner {
	margin-bottom: -1px
}
.fc-corner-left .fc-event-inner {
	border-left-width: 1px
}
.fc-corner-right .fc-event-inner {
	border-right-width: 1px
}
.fc-corner-top .fc-event-inner {
	border-top-width: 1px
}
.fc-corner-bottom .fc-event-inner {
	border-bottom-width: 1px
}
table.fc-border-separate {
	border-collapse: separate
}
.fc-border-separate th, .fc-border-separate td {
	border-width: 1px 0 0 1px
}
.fc-border-separate th.fc-last, .fc-border-separate td.fc-last {
	border-right-width: 1px
}
.fc-border-separate tr.fc-last th, .fc-border-separate tr.fc-last td {
	border-bottom-width: 0px
}
.fc-first {
	border-left-width: 0 !important
}
.fc-last {
	border-right-width: 0 !important
}
.fc-grid th {
	text-align: center
}
.fc-grid .fc-day-number {
	float: right;
	padding: 0 2px
}
.fc-grid .fc-other-month .fc-day-number {
	opacity: 0.3;
	filter: alpha(opacity=30)
}
.fc-grid .fc-day-content {
	clear: both;
	padding: 2px 2px 1px
}
.fc-grid .fc-event-time {
	font-weight: bold
}
.fc-rtl .fc-grid .fc-day-number {
	float: left
}
.fc-rtl .fc-grid .fc-event-time {
	float: right
}
.fc-agenda table {
	border-collapse: separate
}
.fc-agenda-days th {
	text-align: center
}
.fc-agenda .fc-agenda-axis {
	width: 60px !important;
	padding: 0 4px;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	font-weight: normal
}
.fc-agenda .fc-day-content {
	padding: 2px 2px 1px
}
.fc-agenda-days .fc-agenda-axis {
	border-right-width: 1px
}
.fc-agenda-days .fc-col0 {
	border-left-width: 0
}
.fc-agenda-allday th {
	border-width: 0 1px
}
.fc-agenda-allday .fc-day-content {
	min-height: 34px;
	_height: 34px
}
.fc-agenda-divider-inner {
	height: 2px;
	overflow: hidden
}
.fc-widget-header .fc-agenda-divider-inner {
	background: #eee
}
.fc-agenda-slots th {
	border-width: 1px 1px 0
}
.fc-agenda-slots td {
	border-width: 1px 0 0;
	background: none
}
.fc-agenda-slots td div {
	height: 20px
}
.fc-agenda-slots tr.fc-slot0 th, .fc-agenda-slots tr.fc-slot0 td {
	border-top-width: 0
}
.fc-agenda-slots tr.fc-minor th, .fc-agenda-slots tr.fc-minor td {
	border-top-style: dotted
}
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
*border-top-style:solid
}
.fc-event-vert {
	border-width: 0 1px
}
.fc-event-vert .fc-event-head, .fc-event-vert .fc-event-content {
	position: relative;
	z-index: 2;
	width: 100%;
	overflow: hidden
}
.fc-event-vert .fc-event-time {
	white-space: nowrap;
	font-size: 10px
}
.fc-event-vert .fc-event-bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .3;
	filter: alpha(opacity=30)
}
.fc .ui-draggable-dragging .fc-event-bg, .fc-select-helper .fc-event-bg {
	display: none\9
}
.fc-event-vert .ui-resizable-s {
	bottom: 0 !important;
	width: 100% !important;
	height: 8px !important;
	overflow: hidden !important;
	line-height: 8px !important;
	font-size: 11px !important;
	font-family: monospace;
	text-align: center;
	cursor: s-resize
}
.fc-agenda .ui-resizable-resizing {
	_overflow: hidden
}
.fc-header-left .fc-button-prev .fc-button-inner {background: url('../img/icons-sa7c41345d9.png') no-repeat; background-position: 0 -351px;
height: 16px;
width: 11px;}

.fc-header-left .fc-button-next .fc-button-inner {background: url('../img/icons-sa7c41345d9.png') no-repeat; background-position: 0 -367px;
height: 16px;
width: 11px;}

/*------------------------------------------------------------------
[8. Miscellaneous]
*/

.chart-holder {
	width: 100%;
	height: 250px;
}

.dropdown-menu li>a:hover, .dropdown-menu .active>a, .dropdown-menu .active>a:hover { background:#428bca;}

.accordion-heading { background:#e5e5e5;  }
.accordion-heading a { color:#545454; text-decoration:none; font-weight:bold; }

.btn-facebook-alt i {
color: #23386a;
}
.btn-twitter-alt i {
color: #0098d0;
}
.btn-google-alt i {
color: #b6362d;
}
.btn-linkedin-alt i {
color: #0073b2;
}
.btn-pinterest-alt i {
color: #ab171e;
}
.btn-github-alt i {
color: #333;
}

.all-icons li { list-style:none;}

.ML0 { margin-left:0}
.MR0 { margin-right:0;}



/*------------------------------------------------------------------
[1. Max Width: 480px]
*/

@media (max-width: 480px) {
	
	.error-container h1 {
		font-size: 72px;
	}
	
}





/*------------------------------------------------------------------
[1. Max Width: 767px]
*/

@media (max-width: 767px) {
    	
	#main {
		padding: 0 10px;
		margin-right: -20px;
		margin-left: -20px;	
	}
	
	
	.subnavbar {
		margin-left: -20px;
		margin-right: -20px;	
	}
	
	
	.subnavbar-inner {
		height: auto;
	}
	
	.subnavbar .container > ul {
		width: 100%;
		height: auto;
		
		border: none;
	}
	
	.subnavbar .container > ul > li {
		width: 33%;
		height: 70px;
		margin-bottom: 0;
		
		border: none;
	}
	
    
    
    .subnavbar .container > ul > li.active > a {
		font-size: 11px;
    	background: transparent;
    }
	
	.subnavbar .container > ul > li > a > i {	
		display: inline-block;	
		margin-bottom: 0;
		
		font-size: 20px;
	}
	
	
	.subnavbar-open-right .dropdown-menu {
		left: auto;
		right: 0;
	}
	
	.subnavbar-open-right .dropdown-menu:before {
		left: auto;
		right: 12px;
	}
	.subnavbar-open-right .dropdown-menu:after {
		left: auto;
		right: 13px;
	}
	
	.extra {
		margin-right: -20px;
		margin-left: -20px;
	}
	
	.extra .container {
		padding: 0 20px;
	}
	
	.footer {
		margin-right: -20px;
		margin-left: -20px;
	}
	
	.footer .container {
		padding: 0 20px;
	}
	
	.footer .footer-terms {
		text-align: left;
	}
	
	.footer .footer-terms a {
		margin-left: 0;
		margin-right: 1em;
	}

}
    




/*------------------------------------------------------------------
[3. Max Width: 979px]
*/

@media (max-width: 979px) {
	
	.navbar-fixed-top {
		position: static;
		
		margin-bottom: 0;
	}
	
	.subnavbar {
	}
	
	.subnavbar .container {		
		width: auto;
	}
}






/*------------------------------------------------------------------
[2. Max Width: 1200px]
*/

@media (min-width: 1200px) {
	.navbar .search-query {
		width: 200px;
	}
	
}



/* Estilos propios ---------------------------------------------------- */

.errorLogin{
	width:450px;
	margin:0 auto;
	margin-top: 20px;
}

.sClientes{
	margin-left:20px;
}

.centro{
	text-align: center !important;
	white-space:nowrap !important;
}


.grafico{
	width:20px;
	height:20px;
	display: block;
	float: left;
	margin-right: 10px;
}

.grafico1{background-color:#428bca;}
.grafico2{background-color:#B02B2C;}
.grafico3{background-color:#428bca;}

.grafico6{background-color:#4096EE;}
.grafico7{background-color:#f89406;}
.grafico8{background-color:#468847;}
.grafico9{background-color:#ACACAC;}
.grafico10{background-color:#FFFF00;}


.leyenda{
	position: absolute;
	bottom:0px;
	left:4px;
	padding:5px;
}

.leyenda li:hover {
  background-color: #eee;
}

.leyenda li span{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 6px;
}

.leyenda li {
  display: block;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  line-height: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}


.grafico-2{
	width:13px;
	height:13px;
	display: inline-block;
	margin-right: 5px;
	margin-left:15px;
	position: relative;
	top:3px;
}

.grafico4{background-color:rgba(220,220,220,0.5);border:1px solid rgba(220,220,220,1);}
.grafico5{background-color:rgba(151,187,205,0.5);border:1px solid rgba(151,187,205,1);}






.datepicker .btn-primary:hover{
	background-color: #1399dc !important;
}

.mitadAncho{
	width: 50%;
	margin: 0 !important; 
}

.peque{
	width:75px !important;
}

.peque select{
	width:65px !important;
}

.mediano{
	width:130px !important;
}

.mediano select{
	width:120px !important;
}

.areaInforme{
	width:480px !important;
	height:200px;
}

.margenAb{
	margin-bottom:20%;
}

.margenMapa{
	margin-bottom:3%;
}







.btn-morado, .btn-gris {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(159, 60, 189, 0)), color-stop(100%, rgba(1, 0, 0, 0.1)));
  	background-image: -webkit-linear-gradient(rgba(159, 60, 189, 0), rgba(1, 0, 0, 0.1));
  	background-image: -moz-linear-gradient(rgba(159, 60, 189, 0), rgba(1, 0, 0, 0.1));
	background-image: -o-linear-gradient(rgba(159, 60, 189, 0), rgba(1, 0, 0, 0.1));
	background-image: linear-gradient(rgba(159, 60, 189, 0), rgba(1, 0, 0, 0.1));
	background-color: #9F3CBD;
	border-color: #bd2b1f #bd2b1f #7b1c14;
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
	*background-color: #bd2b1f;
}

.btn-morado:hover, .btn-morado:active, .btn-morado.active, .btn-morado.disabled, .btn-morado[disabled] {
	background-color: #70178B !important;
  	color: white;
  	*background-color: #bd7000;
}


.btn-morado:active, .btn-morado.active {
	background-color: #ae6400 \9;
}

.btn-morado .caret, .btn-gris .caret{
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	opacity: 0.75;
	filter: alpha(opacity=75);
}


.btn-morado, .btn-morado:hover, .btn-gris, .btn-gris:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
}



.btn-gris{
	background-color:#ACACAC !important;
}

.btn-gris:hover, .btn-gris:active, .btn-gris.active, .btn-gris.disabled, .btn-gris[disabled] {
	background-color: #797979 !important;
  	color: white;
  	*background-color: #797979;
}


.btn-gris:active, .btn-gris.active {
	background-color: #797979 \9;
}



.logo2{
	float:left;
	vertical-align: middle;
	color:#FFF;
	font-weight: bold;
	font-size: 16px;
}


.dropdown-menu i{
	margin-right: 5px;
}

.resaltado{
	font-weight:bold;
	font-size:18px;
	vertical-align: middle;
}

.filaFecha{
	vertical-align: middle;
}

.filaFecha input{
	margin-top:0px !important;
}



.action-table .td-actions { 
	width: 300px; 	
	text-align: center !important; 
}

.action-table .td-large { 
	width: 450px !important;
	text-align: center;
}


.action-table .td-actions .btn { 
	margin-right: .5em;		
}

.action-table .td-actions .btn:last-child { 
	margin-right: 0; 		
}

.alert i{
	font-size:16px;
	vertical-align:absmiddle;
	margin-right:10px;
}

td .label{
	vertical-align: baseline !important;
	margin-left: 10px;
}

.textoDetalles{
	padding-top: 5px;
	line-height: 18px;
}

.iconoFactura{
	font-size:18px;
}

.icon-success{
	color: #7eb216;
}

.icon-danger{
	color: #B02B2C;
}


/************* DataTables ****************/
.dataTables_length select{
	float:left;
	width: auto;
	margin-right:10px;
	margin-left:15px;
}

.dataTables_filter{
	text-align: right;
}

.dataTables_filter label{
	line-height: 28px;
}

.dataTables_filter input{
	/*float:right;*/ /* Modificado */
	margin-right:15px;
	margin-left:10px;
}

.dataTables_info{
	margin-left:15px;
	line-height: 72px;
}

.dataTables_wrapper .row-fluid{
	padding-top:10px;
	background-color:#eee;
}

.pagination{
	text-align: right;
	margin-right:15px;
}

.row-fluid.arriba{
	border-bottom:1px solid #ddd;
}

.row-fluid.abajo{
	border-top:1px solid #ddd;
}

.pagination a{
	background-color: #FAFAFA;
}

.letraPeque{
	font-size:10px !important;
}

.input-micro{
	width: 15px !important;
	font-size:10px !important;
}

.sinPadding td{
	padding:10px 1px !important;
	text-align: center;
}

.separador{
	border-top: 1px solid #eee;
	margin:20px;
	padding-top:20px;
}

/*.separadorLeyenda{
	border-top: 1px solid #eee;
	margin:0px 2px 10px 2px;
}*/



/* Estilos mapa procesos */


th{
	text-align: center;
}

.tablaFormularioIndicadores{
	width: 100%;
}

.tablaFormularioIndicadores td{
	padding-bottom: 3%;
}

.tablaFormularioIndicadores td .descripcion{
	width:100%;
}

.tablaFormularioIndicadores td .valor{
	text-align: right;
}

.modal-example-content h4{
	color:#5cabd3;
}




.tituloMapaProcesos{
	color:#444;
}

.tablaInterna{
	border-collapse: separate;
	width:100%;
	background-color:#b6e0fb;
	color:#444;
	border:1px solid #9dc1d9;
	text-align: center;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

	text-shadow: 0 1px #FFF;
	box-shadow: 0px 0px 3px 0px #AAA;
}

.tablaBorde, .tablaBorde tr, .tablaBorde th, .tablaBorde td{
	border:1px solid red;
	border-spacing:0;
}

.celdaVertical{
	background-color:#4b85c1;
	color:#FFF;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 50px !important;
	max-width: 50px !important;
	vertical-align: middle;

	box-shadow: 0px 0px 3px 0px #AAA;	
}

.celdaFlecha{
	vertical-align: middle;
	padding:0 10px;
}

.celdaVertical p{
	margin-top:180px;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	writing-mode: lr-tb;
	white-space:nowrap;
	font-size:20px;
}

.cajasContenedor{
	width:300px;
	background-color: #8cc9ec;
	border:1px solid #7bb0d0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size:12px;
	margin:0 10px;
	font-weight: normal;
	text-align: center;
	height:50px;
	text-shadow:none;
	line-height: 52px;
}

.cajasContenedor img{
	vertical-align: middle;
	margin-right: 10px;
}

.cajasContenedor:hover{
	background-color:#C3D9FF;
	cursor:pointer;
}

/* Fin mapa procesos */


@media (max-width: 1025px) {
	
	.subnavbar .container > ul > li > a{
		font-size: 11px;
		padding:0 8px;
	}
	
}


.apartadoFormulario{
	border-bottom: 1px solid #EEE;
	color:#333;
	margin-top:50px;
	margin-bottom:20px;
}


.sinFlotar{
	clear: both;
}


.margenAr{
	margin-top: 50px;
	margin-bottom:50px;
}


.areaTexto{
	width:300px !important;
	height:100px;
}

#cajaAlumnos table{
	margin: auto;
}

.anchoAuto{
	width: auto !important;
}


 #mensajeCorreo {
 	overflow:scroll; 
 	height:300px !important;
 	max-height: 300px;
 	width:70% !important;
 }


fieldset .datatable{
	margin-bottom:0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;	
}

.conBorde{
	border:1px solid #ccc;
}


.big-stats-container.tareas{
	margin-bottom:5px !important;
}

.bigstats.tareas{
	margin-top:10px !important;
	margin-bottom: 22px !important;
	padding-bottom:12px !important;
}

.label-primary{
	background-color:#4096EE;
}

.label-primary:hover{
	background-color:#428bca;
}

.sinMargenAb{
	margin-bottom:0px;
	border:none;
}

.sinMargenAb th{
	border-left:none;
}

.input-supermini{
	width: 20px;
}

.numSS .add-on{
	margin-right:-4px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-right:none;
	padding-left:0;
	padding-right:0;
}

.numSS #numSS1{
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}
.numSS #numSS2{
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
}

.cajaObjetivo{
	padding-top:30px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom: 0;
}

.cajaObjetivo div{
	margin-bottom: 0;
}

.marginAbPeque{
	margin-bottom:7px !important;
}

.bootstrap-filestyle span{
	margin-left:0px !important;
}

.nowrap{
	white-space: nowrap;
}

.tip{
	font-size:12px;
	padding-top:4px;
	margin-left:140px;
}

.enlaceForm{
	padding-top:3px !important;
}


.cabeceraCuestionario{
	position:fixed;
}

.textarea-amplia{
	width:99%;
}

.justificado{
	text-align: justify;
}

.cajaEnlace{
	padding:10px 10px 0px 10px !important;
}

.label a{
	color:#FFF;
}

#ventanaFlotante{
	position: fixed;
	z-index: 9999;
	top:20%;
	left:25%;
	box-shadow: 0px 0px 100px #000;
	border-radius: 6px;
	border:1px solid #CCC;
}

#ventanaFlotante .widget{
	margin-bottom: 0px;
}

.tablaHistorico{
	width:200px !important;
}

.grafico3Borde{
	background-color:#428bca; 
	border-radius:6px !important;
}

.grafico9Borde{
	background-color:#ACACAC;
	border-radius:6px !important;
}

.celdaBotones{
	
}

#ventanaFlotanteDos{
	position: fixed;
	z-index: 9999;
	top:20%;
	left:25%;
	box-shadow: 0px 0px 2000px #000;
	border-radius: 6px;
	border:1px solid #CCC;
}

#ventanaFlotanteDos .widget{
	margin-bottom: 0px;
}

.rojo{
	color:#F31111 !important;
}

.rojo:hover{
	color:#CE0F0F !important;
}

.margenPeque{
	padding-bottom:5px !important;
}

.labelRojoIncidencias{background-color:#d9534f;}
.labelVerdeIncidencias{background-color:#468847;}
.labelAmarilloIncidencias{background-color:#f89406;}

#avisoCorreo{
	margin-right: 10px;
	position: absolute;
	margin-top:10px;
	float:right;
}

.blanco{
	color: #FFFFFF !important;
}

/** Estilos para ordenación tablas **/

.sorting_asc, .sorting_desc{/* Fondo de celdas por las que se está ordenando */
	background: #d4d4d4 !important;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #d4d4d4 100%) !important; /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#d4d4d4)) !important; /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#d4d4d4 100%) !important; /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FAFAFA 0%,#d4d4d4 100%) !important; /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FAFAFA 0%,#d4d4d4 100%) !important; /* IE10+ */
	background:linear-gradient(top, #FAFAFA 0%,#d4d4d4 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#d4d4d4') !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#d4d4d4')" !important;
}

.sorting_asc::after {/* Icono orden ascendente */
    font-family: FontAwesome;
    top:0;
    left:-5px;
    color:#428bca;
    content: "\f0de";
    float:right;
}

.sorting_desc::after { /* Icono orden descendente */
    font-family: FontAwesome;
    top:0;
    left:-5px;
    content: "\f0dd";
    float:right;
    color:#428bca;
}

.sorting::after { /* Icono que indica que se puede ordenar  */
    font-family: FontAwesome;
    top:0;
    left:-5px;
    content: "\f0dc";
    float:right;
}


.datatable th{
	cursor: pointer;
}

.table-bordered thead:first-child tr:first-child th:last-child:after{
	content:'' !important;
}

.centro:after{
	content: '' !important;
}


/** Fin estilos para ordenación tablas **/

.apartadoFormacion{
	border-bottom: 2px solid #EEE;
	color:#333;
	margin-top:20px;
	margin-bottom:10px;
}
.arribaFormacion{
	border-bottom: 2px solid #EEE;
	color:#333;
	margin-bottom:10px;
}

.sinMargenIz{
	margin-left: 0px !important;
}

.espaciosCargando{
	margin:25px !important;
}

.titulosFacturacion{
	font-size:60px;
	margin-top:25px;
	margin-bottom:70px;
}

.titulosFacturacionAux{
	font-size:40px;
	margin-bottom:80px;
}

#aviso{
	position:absolute !important;
	top: 3px !important;
}

.botones{
	margin-bottom:27px;
	padding-top:6px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	border-radius:2px;
}

#ventanaFlotanteDos{
	position: fixed;
	z-index: 9999;
	top:0%;
	left:25%;
	box-shadow: 0px 0px 100px #000;
	border-radius: 6px;
	border:1px solid #CCC;
}

#ventanaFlotanteDos .widget{
	margin-bottom: 0px;
}

.seleccionComercial{
	background:#eee !important;
	padding-top:10px;
}

#mensaje{
	overflow:scroll; 
 	height:300px !important;
 	max-height: 300px;
 	width:70% !important;
 	min-width: 800px !important;
}

.asuntoMensaje{
	color:#019ba3;	
	font-weight: lighter;
	border-bottom:1px solid #EEE;
	margin-bottom:20px;
}

#cajaRespuesta, #cajaEnvio{
	width:65%;
	left:17%;
	margin-left:0;
	height:auto;
}

#cajaRespuesta #mensaje{
	overflow:scroll; 
 	height:200px !important;
 	max-height: 300px;
 	width:90% !important;
 	min-width: 600px !important;
}

.messages_layout{
	width: 100% !important;
}

.right{
	float:right !important;
}

.right .message_wrap:before{
	content: '';
	display: inline-block;
	border-left: 7px solid #b3cdf8;
	border-bottom: 7px solid transparent;
	border-top: 7px solid transparent;
	position: absolute;
	top: 15px;
	right: -8px;
}

.left .message_wrap:before{
	content: '';
	display: inline-block;
	border-right: 7px solid #cbcbcb;
	border-bottom: 7px solid transparent;
	border-top: 7px solid transparent;
	position: absolute;
	top: 15px;
	left: -8px;
}

.avisoMensajes{
	position: relative;
	width:auto !important;
	max-width: 10px;
	bottom:80%;
	left:55%;
}

.desplegable{
	position:static !important;
}

.badge{
	background-color: #d9534f;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	cursor:default !important;
}

.message_wrap .label{
	position: relative;
	bottom:3px;
	left: 5px;
}

.areaInformeDos{
	width:820px !important;
	height:200px;
}

.registroAzul{
	background: #0000FF;
	margin:0 !important;
	padding:5px !important;
	color:#FFF;
	border-radius:3px;
}

.registroNegro{
	background: #000000;
	margin:0 !important;
	padding:5px !important;
	color:#FFF;
	border-radius:3px;
}

.registroVerde{
	background: #098409;
	margin:0 !important;
	padding:5px !important;
	color:#FFF;
	border-radius:3px;
}

.registroVerdeClaro{
	background: #06E306;
	margin:0 !important;
	padding:5px !important;
	color:#FFF;
	border-radius:3px;
}

.registroAmarillo{
	background: #F3F781;
	margin:0 !important;
	padding:5px !important;
	border-radius:3px;
}

.registroRojo{
	background: #FE2E2E;
	margin:0 !important;
	padding:5px !important;
	color:#FFF;
	border-radius:3px;
}

/* Estilos para los formularios de búsqueda por filtros en los listados */

.widget-table .widget-content{
background-color: #EFEFEF;
}

.cajaFiltros .apartadoFormulario{
padding-left:20px;
padding-top:15px;
margin-bottom:10px;
border-bottom-color: #CCC;
background-color:#f8f8f8;
}

.cajaFiltros{
border-bottom: 1px solid #CCC;
padding-bottom:10px;
}

.cajaFiltros:after{
content: " ";
display: block; 
height: 0; 
clear: both;
}

.cajaFiltros .bootstrap-select{
margin-bottom: -10px !important;
}

/* Estilos para el botón "Búsqueda por filtros" de los listados */

.widget-header .btn{
font-weight: bolder;
}

.widget-header .btn [class^="icon-"]{
margin-left:0 !important;
margin-right: 2px;
}

.widget-header .btn-default i{
color:#333;
}

.widget-header .pull-right{
margin-right:30px;
}

.fondoAzul{
color:#FFF;
background:#428bca;
border-radius:5px;
text-align:center;
font-size:16px;
vertical-align:middle !important;
margin:20px;
padding-bottom:5px;
padding-top:5px;
}

.label-verde-claro {
	background-color: #6EE770;
}
.label-verde-claro:hover {
	background-color: #61CE63;
}

.label-azul-claro {
	background-color: #9595FF;
}
.label-azul-claro:hover {
	background-color: #8181EC;
}

.label-naranja{
	background:#FF9A66;
}

.label-amarillo{
	background: #F9DC20;
	color:#000;
}

.label-amarillo:hover{
	background: #F9DC20;
	color:#000;
}

.label-rosa{
	background:#F3BFD6;
}

.registroAzulClaro{
	background: #9595FF;
	margin:0 !important;
	padding:5px !important;
	color:#FFF;
	border-radius:3px;
}

/** Estilos boton select ajax **/

.botonSelectAjax{
	font-size:12px;
	position:relative;
	bottom:11px;
	right:6px;
	height:27px;
	z-index:100;
	line-height: 31px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.botonSelectAjax2{
	font-size:12px;
	position:relative;
	bottom:11px;
	right:15px;
	height:27px;
	z-index:100;
	line-height: 31px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.cajaFiltros .botonSelectAjax{
	bottom:3px;
}

.iconoFiltrado{
	right:0px;
	height:28px;
	line-height: 31px;
	float:right;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.inputFiltrado{
	float:right;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.anchoContenedorFiltros{
	width:830px !important;
}

.espacioArriba{
	margin-top:25px !important;
}

/** Fin estilos select ajax **/

.leyendaRanking{
	position: absolute;
	bottom:0px;
	left:800px;
	padding:5px;
}

.leyendaRanking li:hover {
  background-color: #eee;
}

.leyendaRanking li span{
  display: block;
  position: absolute;
  left: 800px;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 6px;
}

.leyendaRanking li {
  display: block;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  line-height: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

ul.empresasVinculadas{
	list-style: none;
}

ul.empresasVinculadas li{
	border-bottom:1px solid #000;
	padding: 3px 0px;
}

.llamadaHecha{
	cursor:none;
	border:0px;
	background: transparent;
	text-align: left;
}

.servicioPreventa{
}

.servicioPreventa .control-label{
	width:160px;
}

.servicioPreventa .controls{
	margin-left:166px;
}

.tablaPreventas{
	font-size: 18px;
	margin-left:100px;

}
.tablaPreventas i{
	margin-right:15px;
}
.tablaPreventas tr{
	line-height: 40px;
}

.tablaPreventas .padre td{
	font-weight: bold;
	border-bottom:1px solid #000;
}

.tablaPreventas .sinBorde{
	border:0px !important;
}

.tablaPreventas .cantidad{
	text-align: right;
	width:35%;
}

.preventaAceptada td{
	background:#EFF7DC !important;
}

.preventaAceptada:hover td{
	background:#EFF7DC !important;
}

.preventaRechazada td{
	background: #ffe6e6 !important;
}

.preventaRechazada:hover td{
	background: #ffe6e6 !important
}

.estadisticasPreventas .stat{
	width:50%;
}

.notificacion{
	width:50%;
	margin:0 auto;
}in:0 auto;
}