<div class="widget-box" id="recent-box" ng-controller="controladorTareas">
	<div class="widget-header header-color-blue">
		<div class="row">
			<div class="col-sm-6">
				<h4 class="bigger lighter"><i class="glyphicon glyphicon-align-justify"></i> Gestor de tareas</h4>
			</div>
			<div class="col-sm-3">
				<button ng-click="addNewClicked=!addNewClicked;" class="btn btn-sm btn-success header-elements-margin"><i class="glyphicon  glyphicon-plus"></i> Añadir tarea</button>
			</div>
			<div class="col-sm-3">
				<input type="text" ng-model="filterTask" class="form-control search header-elements-margin" placeholder="Filtrar tareas">
			</div>
		</div>
	</div>
	<div class="widget-body ">
		<form ng-init="addNewClicked=false; " ng-if="addNewClicked" id="newTaskForm" class="add-task">
			<div class="form-actions">
				<div class="input-group">
					<input type="text" class="form-control" name="comment" ng-model="inputTarea" placeholder="Escriba aquí la tarea" ng-focus="addNewClicked">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit" ng-click="addTarea(inputTarea)"><i class="glyphicon glyphicon-plus"></i> Añadir tarea</button>
					</div>
				</div>
			</div>
		</form>
		<div class="task">
			<label class="checkbox" ng-repeat="tarea in tareas | filter : filterTask">
	    		<input type="checkbox" value="{{tarea.estado}}" ng-checked="tarea.estado==2" ng-click="actualizaEstado(tarea.codigo,tarea.estado,tarea.tarea)"/> 
				<span ng-class="{strike:tarea.estado==2}">{{tarea.tarea}} [{{tarea.creado_el}}]</span>
				<a ng-click="eliminaTarea(tarea.codigo)" class="pull-right"><i class="glyphicon glyphicon-trash"></i></a>
	    	</label>
		</div>
	</div>
</div>